In [10]:
a=10
b=20.1
c=True
z=1+4j

print(type(a))
print(type(b))
print(type(c))
print(type(z))
print(id(c))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
140709047818344

In [ ]:
# convert datatypes

In [12]:
a=float(a)
print(a)
print(type(a))

10.0
<class 'float'>

In [76]:
z=int(z)
print(z)
print(type(z))

10
<class 'int'>

In [15]:
z=str(z)
print(type(z))
print(z)

<class 'str'>
(1+4j)

In [17]:
a = complex(a,10)
print(a)

(10+20j)

In [ ]:
# Sequence
# 1. string
# 2. list
# 3. tuple

# String

In [19]:
s="abcdef"
print(s)

abcdef

In [3]:
str = 'Hello World!'
print (str)
print (str[0]) 
print (str[2:5]) 
print (str[2:]) 
print (str * 2) 
print (str + "TEST")

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [30]:
# Reverse 
name="shreeshail"
print(name[-1::-1])

liahseerhs

# List

In [31]:
x=[1,1.9,2+9,2+4j,True,"apple",[1,2,3]]

In [32]:
print(x)

[1, 1.9, 11, (2+4j), True, 'apple', [1, 2, 3]]

In [33]:
print(x[0])

1

In [34]:
print(x[6][2])

3

In [35]:
print(x[5][2])

p

In [2]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) 
print (list[0]) 
print (list[1:3]) 
print (list[2:]) 
print (tinylist * 2)
print (list + tinylist)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# sets

In [37]:
s={1,1,2,2,3,2,4}
print(s)

{1, 2, 3, 4}

# dictionay

In [43]:
d={1:"int",2.14:"Float",(2+3j):"Complex","str":"String",(1,2,3):"Tuple"}
print(d)

{1: 'int', 2.14: 'Float', (2+3j): 'Complex', 'str': 'String', (1, 2, 3): 'Tuple'}

In [6]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
t = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) 
print (dict[2]) 
print (t) 
print (t.keys()) 
print (t.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

# tuple

In [51]:
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [4]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
t = (123, 'john')
print (tuple) 
print (tuple[0]) 
print (tuple[1:3]) 
print (tuple[2:])
print (t * 2) 
print (tuple + t)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [60]:
a=10
b=20
print(a==b)
print(a!=b)
# (a=b)
print(a<=b)
print(a>=b)
print(a>b)
print(a<b)

False
True
True
False
False
True

In [ ]:
# Arithmetic Operators + - * ** / // %
# Comparison Operators == != > < >= <=
# Assignment Operators = += -= *= **= /= //= %=
# Bitwise Operators & | ^ << >> ~
# Logical Operators AND OR NOT
# Membership Operators in not-in
# Identity Operators is is-not

# Membership Operators

In [70]:
a=[1,2,3,4]
s="abc"
print(1 in a)
print(6 in a)
print('b' not in s)

True
False
False

# Identity Operators`

In [75]:
a=b=c=20
x=y=z=10
print(id(a))
print(id(b))

print(a is x)
print(a is not x)

2788936608656
2788936608656
False
True