# Random Number Functions
choice randrange random seed shuffle uniform

In [15]:
# choice
import random
print(random.choice(range(100)))
print(random.choice([1,2, 3, 5, 9]))
print(random.choice('Hello World'))
print(random.choice((1,2,3,4,5)))

27
5
d
4

In [27]:
# randrange
print(random.randrange(100))
print(random.randrange(1, 100, 2))

67
91

In [20]:
# random
random.random()

0.8776696172160942

In [10]:
# seed
import random
random.seed()
print (random.random())
random.seed(10)
print (random.random())
random.seed("hello",2)
print (random.random())

0.029206096043032037
0.5714025946899135
0.3537754404730722

In [15]:
# shuffle
import random
list = [20, 16, 10, 5];
random.shuffle(list)
print(list)

[10, 5, 20, 16]

In [17]:
# uniform
print (random.uniform(5, 10))

7.346848831423405

# Trigonometric Functions
acos asin atan2 cos hypot sin tan degrees radians

In [22]:
# acos
import math
print ("acos(1) : ", math.acos(1))

acos(1) :  0.0

In [23]:
# asin
print ("asin(1) : ", math.asin(1))

asin(1) :  1.5707963267948966

In [24]:
# returns atan(y / x)
print ("atan(1) : ", math.atan(1))

atan(1) :  0.7853981633974483

In [25]:
# atan2
print ("atan2(10,20) : ", math.atan2(10,20))

atan2(10,20) :  0.4636476090008061

In [27]:
# cos
print ("cos(0) : ", math.cos(0))

cos(0) :  1.0

In [28]:
# returns Euclidean norm, sqrt(x*x + y*y)
print ("hypot(0, 2) : ", math.hypot(0, 2))

hypot(0, 2) :  2.0

In [29]:
# sin
print ("sin(0) : ", math.sin(0))

sin(0) :  0.0

In [30]:
# tan
print ("tan(0) : ", math.sin(0))

tan(0) :  0.0

In [33]:
# degrees
print ("degrees(math.pi) : ", math.degrees(math.pi))
print ("degrees(-4) : ", math.degrees(-4))

degrees(math.pi) :  180.0
degrees(-4) :  -229.1831180523293

In [34]:
# radians
print ("radians(math.pi/2) : ", math.radians(math.pi/2))

radians(math.pi/2) :  0.027415567780803774

In [36]:
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

# String

In [37]:
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [39]:
# rawstring
print ('C:\\nowhere')
print (r'C:\\nowhere')

C:\nowhere
C:\\nowhere

# Unicode String
capitalize center count encode-decode endswith expandtabs find index isalnum
isalpha isdigit islower isnumeric isspace istitle isupper join ljust rjust
lower upper lstrip rstrip strip maketrans rfind rindex split splitlines startswith swapcase title zfill isdecimal

In [40]:
'abc'.capitalize()

'Abc'

In [42]:
'xyz'.center(10, 'a')

'aaaxyzaaaa'

In [88]:
# s.count(sub, start= 0,end=len(string))
str="harish"
sub='h'
str.count(sub,1,40)

1

In [59]:
# s.decode(encoding='UTF-8',errors='strict')
import base64
s = "example....wow!!!"
e=base64.b64encode(s.encode('utf-8',errors='strict'))
print ("Encoded String: " , e)
# d=base64.b64decode(e.decode('utf-8',errors='strict'))
# print("Decoded String: " , e)

Encoded String:  b'ZXhhbXBsZS4uLi53b3chISE='

In [90]:
# endswith
print ('Str'.endswith('r'))

True

In [70]:
# expandtabs
print ("tab\texapanded tab: ".expandtabs())
print ("Double\texapanded tab: ".expandtabs(16))

tab     exapanded tab:
Double          exapanded tab:

In [92]:
# find
print ('harish'.find('h'))
print ('harish'.find('h',1))
print ('harish'.find('h',6))

0
5
-1

In [97]:
# index
str1="kumbhar"
str2='bh'
print (str1.index(str2))
print (str1.index('a', 5))

3
5

In [103]:
# isalnum
str = "this2016" # No space in this string
print (str.isalnum())

True

In [101]:
# isalpha
str = "this"; # No space & digit in this string
print (str.isalpha())

True

In [106]:
# isdigit
str = "123456"; # Only digit in this string
print (str.isdigit())

True

In [109]:
# islower
str = "this is string example....wow!!!"
print (str.islower())

True

In [112]:
# isnumeric
str = "2016"
print (str.isnumeric())

True

In [118]:
# isspace
str = " " # only space
print (str.isspace())

True

In [123]:
# istitle
str = "This Is String Example...Wow 6Y675!!!"
print (str.istitle())

True

In [128]:
# isupper
str = "THIS!!!" # only uppercase
print (str.isupper())

True

In [131]:
# join
s = "-"
seq = ("a", "b", "c") 
print (s.join( seq ))

a-b-c

In [134]:
# len
s='st';len(s)

2

In [136]:
# ljust
str = "this is string example....wow!!!"
print (str.ljust(50, '*'))

this is string example....wow!!!******************

In [4]:
# rjust
str = "this is string example....wow!!!"
print (str.ljust(50, '*'))

this is string example....wow!!!******************

In [140]:
str="Hk"
print(str.lower())
print(str.upper())

hk
HK

In [142]:
# lstrip
str = "*****this is string example....wow!!!*****"
print (str.lstrip('*'))

this is string example....wow!!!*****

In [1]:
# rstrip
str = "*****this is string example....wow!!!*****"
print (str.rstrip('*'))

*****this is string example....wow!!!

In [2]:
# strip
str = "*****this is string example....wow!!!*****"
print (str.strip('*'))

this is string example....wow!!!

In [144]:
# maketrans
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)
str = "this is string example....wow you!!!"
print (str.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w y45!!!

In [150]:
str = "this..you!!!"
print(max(str))
print(min(str))

y
!

In [153]:
# replace
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [ ]:
s