# Unicode String
capitalize center count encode-decode endswith expandtabs find index isalnum
isalpha isdigit islower isnumeric isspace istitle isupper join ljust rjust
lower upper lstrip rstrip strip maketrans rfind rindex split splitlines startswith swapcase title zfill isdecimal

In [7]:
# rfind
str1 = "this is really a string example....wow!!!"
str2 = "is"
print (str1.rfind(str2))
print (str1.rfind('a', 0, 19))

5
15

In [12]:
# rindex
str1 = "this is really a string example....wow!!!"
str2 = "s"
print (str1.rindex(str2))
print (str1.rindex('i'))

17
20

In [13]:
# split
str = "this is string example....wow!!!"
print (str.split( ))
print (str.split('i',1))

['this', 'is', 'string', 'example....wow!!!']
['th', 's is string example....wow!!!']

In [14]:
# splitlines
str = "this is \nstring example....\nwow!!!"
print (str.splitlines( ))

['this is ', 'string example....', 'wow!!!']

In [15]:
# startswith
str = "this is string example....wow!!!"
print (str.startswith( 'this' ))
print (str.startswith( 'string', 8 ))

True
True

In [16]:
# swapcase
str = "this is string example....wow!!!"
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!

In [17]:
# title
str = "this is string example....wow!!!"
print (str.title())

This Is String Example....Wow!!!

In [18]:
# zfill
str = "this is string example....wow!!!"
print ("str.zfill : ",str.zfill(40))
print ("str.zfill : ",str.zfill(50))

str.zfill :  00000000this is string example....wow!!!
str.zfill :  000000000000000000this is string example....wow!!!

In [19]:
# isdecimal
str = "23443434"
print (str.isdecimal())

True

# List Functions
append clear copy count extend index insert pop remove reverse sort len max
min tuple set list type

In [22]:
# append
l=[8,3,5,9,2,1,4131,9]
l.append(5)
print(l)

[8, 3, 5, 9, 2, 1, 4131, 9, 5]

In [29]:
# copy
a=l.copy()
print(a)

[8, 3, 5, 9, 2, 1, 4131, 9]

In [8]:
# count
l = [1, 2, 3, 3]
x = l.count(4)
y = l.count(3)
print(x)
print(y)

0
2

In [12]:
# extend
l = [1, 2, 3, 3]
l2=['a','b','c']
l.extend(l2)
print(l)

[1, 2, 3, 3, 'a', 'b', 'c']

In [14]:
# index
print(l.index('a'))

4

In [18]:
# insert
l.insert(0,True)
print(l)

[True, 1, 0, 0, 2, 3, 3, 'a', 'b', 'c']

In [20]:
# pop
l.pop(1)
print(l)

[True, 0, 0, 2, 3, 3, 'a', 'b']

In [22]:
# del
del l[0]
print(l)

[0, 0, 2, 3, 3, 'a', 'b']

In [24]:
# reverse
l.reverse()
print(l)

['b', 'a', 3, 3, 2, 0, 0]

In [2]:
# sort
z=[8, 3, 5, 9, 2, 1, 4131, 9, 5]
z.sort()
print(z)

[1, 2, 3, 5, 5, 8, 9, 9, 4131]

In [28]:
# remove
l.remove('a')
print(l)

['b', 3, 3, 2, 0, 0]

In [11]:
# len
len([1, 2, 3])

3

In [10]:
# min
min([1, 2, 3])

1

In [12]:
# max
max([1, 2, 3])

3

In [14]:
# list
tuple([1, 2, 3])

(1, 2, 3)

In [15]:
set([1, 2, 3])

{1, 2, 3}

In [18]:
print(type([1,2,3]))

<class 'list'>

In [16]:
# list
s="harish"
l=list(s)
print(l)

['h', 'a', 'r', 'i', 's', 'h']

In [4]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [17]:
['Hi!',1] * 4

['Hi!', 1, 'Hi!', 1, 'Hi!', 1, 'Hi!', 1]

In [6]:
3 in [1, 2, 3]

True

In [9]:
for x in [1,2,3] : print (x,end=' ')

1 2 3

# Tuple Functions
len max min del type __contains__ list

In [30]:
# tuple example
tup = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup4 = ();
tup5 = (50,)

In [39]:
max(tup2)

5

In [40]:
min(tup3)

'a'

In [33]:
del(tup)

In [43]:
type(tup2)

tuple

In [44]:
print(tup3.__contains__('a'))

True

In [45]:
list((1,2,3))

[1, 2, 3]

In [37]:
len(tup2)

5

In [21]:
tup1+tup2

(50, 1, 2, 3, 4, 5)

In [34]:
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [35]:
3 in (1, 2, 3)

True

In [36]:
for x in (1,2,3) : print (x,end=' ')

1 2 3

In [42]:
s="harish09"
print(tuple(s))

('h', 'a', 'r', 'i', 's', 'h', '0', '9')

# Dictionary Functions
update del clear keys values len str type copy fromkeys get has_key items setdefault

In [46]:
# dict example
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7